@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
}

:root {
  --themeColor: #b151e2;
}

.customSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 width%3D%2224%22 height%3D%2224%22 viewBox%3D%220 0 24 24%22%3E%3Cpath d%3D%22M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z%22/%3E%3C/svg%3E")
    no-repeat right 1.2rem center;
  background-size: 10px 10px;
  padding-right: 2.5rem;
  cursor: pointer;
  background-color: inherit;
  border-color: #dbe0e6;
  border-radius: 4px;
}

.customSelect option {
  padding: 0.75rem 1rem;
  /* Increase padding for options */
  font-size: 1rem;
  /* Increase font size */
}

.customSelect option:not(:last-child) {
  border-bottom: 1px solid #ddd;
  /* Border bottom for options except last one */
}
